<%= form_for(club) do |f|%>
  <div class="club-form">
    <label for="name">団体名</label>
    <%= f.text_field :club_name, id: "name" %>
  </div>
  <div class="club-form">
    <label for="profile">クラブ紹介文</label>
    <%= f.text_area :club_profile, id: "profile" %>
  </div>
  <!-- 県はenumから選択させる -->
  <div class="club-form">
    <label for="area">活動拠点（県）</label>
    <%= f.select :practice_area, Club.practice_areas.keys, {prompt: "選択してください"}, id: "area" %>
  </div>
  <div class="club-form">
    <label for="detail">活動拠点（体育館名など）</label>
    <%= f.text_field :area_detail, id: "detail", placeholder: "代々木体育館" %>
  </div>
  <div class="club-form">
    <label for="amount">在籍人数</label>
    <%= f.number_field :menber_amount, min:1, id: "amount" %>
  </div>
  <div class="club-form">
    <label for="level">競技レベル</label>
    <%= f.text_field :club_level, id: "level" %>
  </div>
  <div class="club-form">
    <%= f.submit "確認して登録する" %>
  </div>
<% end %>