<div class="container">
  <h2>クラブ一覧</h2>
  <%= link_to "クラブ作成", new_club_path %>
  <div class="search">
    <%= form_tag(clubs_path, :method => 'get') do %>
        <div class="form-group row">
        <%= select_tag :practice_area, options_for_select(Club.practice_areas), include_blank: true, class: "form-control col-sm-2" %>
        <%= submit_tag "県名で絞り込み", class: "btn btn-outline-warning col-sm-2" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @clubs.each do |club| %>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/shutterstock_247751584.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body card-content">
                <h5 class="card-title">クラブ名：
                  <%= link_to club_path(club.id) do %>
                    <%= club.club_name %>
                  <% end %>
                </h5>
                <p class="card-text">活動拠点：<%= club.practice_area %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @clubs %>
</div>

