<div class="wrap">
  <ul id="tab-menu" class="clearfix">
    <li><a href="#tab1" class="active">大会ごとの獲得ポイント</a></li>
    <li><a href="#tab2" class="">総取得ポイント</a></li>
  </ul>

  <div id="tab-contents" class="clearfix">
    <div id="tab1" class="tab">
      <%= line_chart @result_graph.pluck(:date, :result_point), xtitle: "開催日", ytitle: "獲得ポイント", width: "800px", height: "500px", curve: false, class: "chart" %>
    </div>
    <div id="tab2" class="tab">
      <%= line_chart @total_graph, xtitle: "開催日", ytitle: "獲得ポイント", width: "800px", height: "500px", curve: false, class: "chart" %>
    </div>
  </div>
</div>


<script>
  $('#tab-contents .tab[id != "tab1"]').hide();

 $('#tab-menu a').on('click', function() {
  $("#tab-contents .tab").hide();
  $("#tab-menu .active").removeClass("active");
  $(this).addClass("active");
  $($(this).attr("href")).show();
  return false;
});
</script>


<h2>ユーザー詳細</h2>
<h3>ユーザー名：<%= @user.name %></h3>
<h3>メールアドレス：<%= @user.email %></h3>
<h3>年齢：<%= @user.birthday %></h3>
<h3>性別：<%= @user.sex_i18n %></h3>
<h3>活動拠点：<%= @user.address %></h3>
<h3>自己紹介：<%= @user.profile %></h3>
<% if current_user == @user %>
  <h6>
    <%= link_to "ユーザー情報を編集する", edit_user_path %>
  </h6>
<% else %>
<% end %>
<div class="user-clubs">
  <h2>運営中・加入中のクラブ</h2>
  <% @clubs.each do |club| %>
    <% if club.club_menbers.find_by(user_id: @user.id).status_before_type_cast >= 100 %>
      <div class="club-field">
        <%= link_to(club_path(club.id), style: "color:black;") do %>
          <%= club.club_name %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="user-entry">
  <h2>大会情報</h2>
  <h3>総獲得ポイント：<%= @total_points %></h3>
  <h3><%= link_to "エントリー一覧", user_entries_path(@user.id) %> </h3>
</div>


<% if @user.id == current_user.id %>
<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a></p>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for(@entry, method: :post) do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>