<div class='nested-fields'>
  <div class="field">
    <%= f.label :種目名 %>
    <%= f.text_field :category_title %>
  </div>
  <div class="field">
    <%= f.label :種目詳細 %>
    <%= f.text_area :category_detail %>
  </div>
  <%= link_to_remove_association "種目削除", f %>
</div>