<%= form_with(model: event, local: true) do |f| %>
  <div class="event-form">
    <label for="event">大会名</label>
    <%= f.text_field :event, id: "event" %>
  </div>
  <div class="event-form">
    <label for="date">開催日</label>
    <%= f.date_field :date, id: "date" %>
  </div>
  <div class="event-form">
    <label for="">エントリー期日</label>
    <%= f.date_field :deadline, id: "deadline" %>
  </div>
  <div class="event-form">
    <label for="place">会場</label>
    <%= f.text_field :event_place, id: "place" %>
  </div>
  <div class="event-form">
    <label for="address">住所</label>
    <%= f.text_field :place_address, id: "address" %>
  </div>
  <div class="event-form">
    <label for="fee">一人当たり参加費</label>
    <%= f.number_field :entry_fee, id: "fee" %>円
  </div>
  <div class="event-form">
    <label for="capacity">エントリー定員数</label>
    <%= f.number_field :total_capacity, id: "capacity" %>名
  </div>
  <div class="event-form">
    <label for="payment">決済方法</label>
    <%= f.select :payment_method, id: "payment" %>
  </div>
  <div class="event-form">
    <label for="detail">大会概要</label>
    <%= f.text_area :event_detail, id: "detail" %>
  </div>
  <div class="nested">
    <label for="category">開催種目</label>
    <%= f.fields_for :event_categories do |category| %>
      <%= render 'event_category_fields', f: category %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '種目追加', f, :event_categories %>
    </div>
  </div>
  <div class="event-form">
    <%= f.submit "大会作成" %>
  </div>
<% end %>