<h2>大会情報詳細</h2>
<h3>大会名：<%= @event.event %></h3>
<h3>エントリー期日：<%= @event.deadline %></h3>
<h3>開催日：<%= @event.date %></h3>
<h3>参加費：<%= @event.entry_fee %>円</h3>
<h3>エントリー定員数：<%= @event.total_capacity %>人　現在のエントリー人数：<%= @event.entry_users.count %>人</h3>
<h3>開催場所：<%= @event.event_place %></h3>
<h3>住所：<%= @event.place_address %></h3>
<h3>決済方法：<%= @event.payment_method %></h3>
<h3>大会要項：<%= @event.event_detail %></h3>
<h2>開催種目</h2>
<ul>
  <% @categories.each do |category| %>
    <li>種目名：<%= category.category_title %></li>
    <ul>
      <li>種目詳細：<%= category.category_detail %></li>
      <li>種目ポイント一覧</li>
        <ul>
          <% category.category_results.each do |result| %>
            <li>成績：<%= result.result %>/獲得ポイント：<%= result.result_point %></li>
          <% end %>
        </ul>
    </ul>
  <% end %>
</ul>
<% if @event.can_entry?(@event.id) %>
  <% if @event.user_entried?(current_user) %>
    <div class="entry-box">
      エントリー済み
    </div>
  <% else %>
    <div class="entry-box">
      <%= link_to "エントリーする", new_event_entry_user_path(event_id: @event.id) %>
    </div>
  <% end%>
<% else %>
  <div class="entry-box">
    エントリー終了
  </div>
<% end %>
<% if @event.club.not_menber?(current_user) %>
  <%= link_to "エントリー一覧", event_entry_users_path(event_id: @event.id) %>
<% elsif @event.club.blocked_menber?(current_user)%>
  ブロックされています 
<% elsif @event.club.menber?(current_user)%>
  <%= link_to "エントリー一覧", event_entry_users_path(event_id: @event.id) %>
<% elsif @event.club.club_admin?(current_user) %>
  <%= link_to "エントリー一覧", event_entry_users_path(event_id: @event.id) %>
  <%= link_to "編集する", edit_event_path(@event.id) %>
  <%= link_to "削除する", event_path(@event.id), method: :delete %>
<% end %>

