<h2>メンバー一覧</h2>
<% @club_menbers.each do |menber| %>
  <% if menber.status_before_type_cast <= 20 %>
  <% elsif menber.status_before_type_cast > 20 %>
    <% if current_user.club_menbers.find_by(club_id: params[:club_id]).status_before_type_cast <1000 %>
      <ul>
        <li>
          <%= link_to user_path(id: menber.user_id) do %>
            <%= menber.user.email %>
          <% end %>
          <%= menber.status_i18n %>
        </li>
      </ul>
    <% elsif current_user.club_menbers.find_by(club_id: params[:club_id]).status_before_type_cast == 1000 %>
      <ul>
        <li>
          <%= link_to user_path(id: menber.user_id) do %>
            <%= menber.user.email %>
          <% end %>
          <%= menber.status_i18n %>
          <%= link_to "ユーザー権限を変更する", edit_club_club_menber_path(id: menber.id) %>
        </li>
      </ul>
    <% end %>
  <% else %>
  <% end %>
<% end %>