<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong></h5>
<% end %>

<hr>
<% if @messages.present? %>
  <ul>
    <% @messages.each do |m| %>
      <li class="messages" data-id=<%= m.id %>>
        <strong><%= m.content %></strong>
        <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong><%= link_to " コメント削除", message_path(m.id), method: :delete %></small>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_with(model: [@message]) do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70, id: "message_area" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>