<!DOCTYPE html>
<html>
  <head>
    <title>Badler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-container">
    <header id="global-header">
      <div id="global-header_inner">
        <%= link_to(root_path) do %>
          <div id="global-header_logo">
            <img src="/assets/linkedin_banner_image_1.png" height= "60px"></a>
          </div>
        <% end %>
        <nav id="global-header_menu">
          <ul id="global-header_items">
            <li id="global-header_item">
              <%= link_to "ポイントランキング", ranking_path %>
            </li>
            <% if user_signed_in? %>
              <li id="global-header_item">
                <%= link_to(user_path current_user.id) do %>
                  <%= current_user.name %>
                <% end %>
              </li>
              <li id="global-header_item">
                <%= link_to "クラブを探す", clubs_path %>
              </li>
              <li id="global-header_item">
                <%= link_to "大会を探す", events_path %>
              </li>
              <li id="global-header_item">
                <%= link_to "ユーザー一覧", users_path %>
              </li>
              <li id="global-header_item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li id="global-header_item">
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li id="global-header_item">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <% if flash[:notice] %>
      <div id="notice">
        <p><%= flash[:notice] %></p>
      </div>
    <% elsif flash[:alert] %>
      <div id="alert">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
